# Environments
venv/
env/
.env

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Node.js
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Build artifacts
/frontend/build/
/frontend-old/
/temp-app/
